.app {
  display: flex;
  font-family: Arial;
}

.sidebar {
  width: 250px;
  padding: 20px;
  background: #e4d1d1;
}

.sidebar button {
  display: block;
  margin: 5px 0;
  width: 100%;
}

.main {
  flex: 1;
  padding: 20px;
}

.cards {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  background: #eee;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.content {
  display: flex;
  gap: 20px;
}

.box {
  flex: 1;
  background: #fafafa;
  padding: 20px;
  border-radius: 10px;
}